.contenedor {
    width: 748px;
    display: flex;
    justify-content: center;
    align-items: initial;
    margin-left: 200px;
    margin-top: 40px;
    background-color: rgb(214, 211, 192);
    border-radius: 19px;
    border-color: #504747;
    border-style: solid;
    font-family: cursive;
}

.imagen{
    height: 322px;
    width: 325px;
    margin-right: 25px;
    border-radius: 14px 0px 0px 14px;
}


.texto{
    margin-top: 30px;
    max-width: 400px;
}

.parrafo-info{
    color: rgb(167, 118, 26);
    font-weight: bold;
    font-size: 17px;
}